<div class="ui main text container" style="text-align:center;">
        <div style="padding-top:35vh;">
        <h1>Welcome to Program Management System</h1>
        <form>
            <input class="ui button primary" type="button" value="Login" onclick="window.location.href='/user/login'" />
            <input class="ui button primary" type="button" value="Register" onclick="window.location.href='/user/new'" style="margin-left: 1.25rem" />
        </form>
    </div>
</div>