<div class="ui main text container" style="text-align:center;">
    <div style="padding-top:15vh;">    
        <h1>Register an Account</h1>
        <form class="ui form" method="POST" action="/user">
            <div class="field">
                <label>Name:</label>
                <input name="username" type="text" placeholder="Enter your name..." style="width:20%; text-align:center;"/>
            </div>
            <div class="field">
                <label>Email:</label>
                <input name="email" type="email" placeholder="example@example.com" style="width:20%; text-align:center;"/>
            </div>
            <div class="field">
                <label>Password:</label>
                <input name="password" type="password" placeholder="Enter your password here" style="width:20%; text-align:center;"/>
            </div>
            <input class="ui button primary" name="submit" type="submit" />
        </form>
            <button class="ui button primary" type="submit" target="_self" onclick="window.location.href='/'" style="margin:1.5rem auto; display:block;">Home</button>
        <a href="/user/login">Have an account? Login Here</a>
    </div>
</div>